body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bbe6e6;
    }
    
    header {
    background-color: #299fff;
    color: white;
    text-align: center;
    padding: 10px;
    }
    
    .gallery {
    text-align: center;
    padding: 30px;
    }
    
    .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 78px;
    margin-top: 78px;
    justify-content: center;
    display:flex;
    }
    
    .image-container img {
    width: 350px;
    height: auto;
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    }
    
    .card {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }
    
    .card a {
    text-decoration: none;
    color: #141212;
    }
    
    .card img {
    
    border-radius: 10px;
    display:block;
    width: 100px;
    height:100px;

    }
    
    footer {
    background-color:  #299fff;
    color: white;
    text-align: center;
    padding: 10px;
    }
    
    @media (max-width: 768px) {
    .image-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    }

   

   .logo{
    width: 200px;
    height:200px;

   }

   